body,
html {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
/* ----------------- HEADER ----------------------- */
.header {
  background-color: #181716;
  width: 100%;
  height: fit-content;
  margin: 0em auto;
  position: relative;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li .logo {
  margin: auto;
  width: 100%;
  font-size: 0.75em;
}

nav,
ul,
li,
a,
a:visited {
  text-decoration: none;
  color: #f4f4f4;
  list-style-type: none;
}

.logo {
  width: 60px;
  padding: 0;
}

li {
  padding-top: 10px;
  justify-content: space-evenly;
}

a:hover {
  color: grey;
}

/* -----------------LANDING PAGE------------------------ */

.container {
  text-align: center;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 50px;
}

.result {
  border: 10px;
  border-style: double;
  border-color: #181716;
  width: 300px;
  height: 300px;
  margin: 10px auto;
  text-align: center;
  display: flexbox;
  flex-wrap: wrap;
  background-position: center;
}

@media (max-width: 1900px) {
  .results {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1600px) {
  .results {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1325px) {
  .results {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .results {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .result {
    width: 15em;
    height: 20em;
  }
}


/* -----------------IMAGE THUMBNAILS------------------------ */

.article-image {
  height: 150px;
  width: 150px;
  margin: 20px;
  object-fit: cover;
}

.article-title{
  margin: 0em auto 0em;
  padding: 10px;
  font-weight: bolder;
  font-size: 15px;
}


