body,
html {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
}

.header {
  background-color: #181716;
  width: 100%;
  height: fit-content;
  margin: 0em auto;
  position: fixed;
  top: 0;
}

/* .business-name a:link {
  margin: 0 auto;
  text-decoration: none;
} */


nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li .logo {
  margin: auto;
  width: 100%;
  font-size: 0.75em;
}

nav,
ul,
li,
a,
a:visited {
  text-decoration: none;
  color: #f4f4f4;
  list-style-type: none;
}

.logo {
  width: 60px;
  padding: 0;
}

li {
  padding-top: 10px;
  justify-content: space-evenly;
}

a:hover {
  color: grey;
}
